.noidung
{
    margin:20px 0;
    display:flex;
    justify-content: space-between;
}
.noidung .nd_trai .hinhanh .chon img
{
    width:50px;
    border:1px solid #a0a09c;
    padding:5px;
}
.noidung .nd_trai .hinhanh .chon
{
    padding-left:60px;
    padding-top:10px;
    
}
.tieude
{
    color:black;
    border-bottom:2px solid #a0a09c;
    display:flex;
    justify-content: space-between;
}
.nd_phai
{
    width:50%;
    margin-left:10px;
}
.nd_phai .thongso div
{
    font-size:20px;
    border-bottom:1px solid #a0a09c;
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}
.nd_phai .thongso .td_thongso
{
    font-size:35px;
    font-weight: bold;
    border-bottom:1px solid #a0a09c;
}




