#dangki{
    text-align: center;
}

.spannhap{
    width: 50%;
    height:40px;
}
.hoten{
    margin-left:25%;
    text-align:left;
    margin-top:20px;
}
.dk{
        margin-left:25%;
        text-align:left;
        margin-top:3px;
        width: 50px;
}